@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}

html {
  cursor: none;
}

@media (pointer: fine) {
  html {
    cursor: none;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
